@font-face {
  font-family: 'EB Garamond 12';
  src: url('/fonts/eb-garamond/12-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'EB Garamond 12';
  src: url('/fonts/eb-garamond/12-italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: auto;
}

:root {
  --site-blue: rgb(81, 172, 214);
  --site-red: rgb(144, 10, 10);
  --site-gray: rgba(255, 255, 255, 0.7);
  --site-dark-gray: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar {
  background-color: #000;
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--site-gray);
  border-radius: 15px;
}

html, body {
  margin-left: 0;
  font-family: 'EB Garamond 12', serif;
  width: 100%;
  background-color: #000;
  color: #fff;
  font-size: 2vw;
}

p {
  text-align: justify;
  color: var(--site-gray);
}

a {
  color: var(--site-red);
  text-decoration: none;
}

strong {
  color: #fff;
}

blockquote {
  line-height: 4vw;
}

blockquote > p {
  text-align: center;
}

ul {
  line-height: 4vw;
  list-style-position: inside;
}

@media screen and (max-width: 900px) {
  h1 {
    font-size: 6vh;
    top: -200px;
  }
  h2 {
    font-size: 5vh;
  }
  h3 {
    font-size: 4vh;
  }
  p {
    font-size: 3vh;
  }
  ul {
    line-height: 4vh;
    font-size: 3vh;
  }
  blockquote {
    line-height: 4vh;
  }
}