@font-face {
  font-family: 'Yana';
  src: url('/fonts/yana/regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Yana';
  src: url('/fonts/yana/italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Yana';
  src: url('/fonts/yana/bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: auto;
}

:root {
  --site-blue: rgb(81, 172, 214);
  --site-dark-blue: rgb(41, 22, 194);
  --site-red: rgb(144, 10, 10);
  --site-gray: rgba(255, 255, 255, 0.7);
}

::-webkit-scrollbar {
  background-color: #000;
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: var(--site-gray);
  border-radius: 15px;
}

html, body {
  width: 100%;
  background-color: #000;
  color: #fff;
  font-size: 2vw;
  font-family: 'Yana', serif;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 5vmin;
}

h2 {
  font-size: 4vmin;
}

h3 {
  font-size: 2.5vmin;
}

p {
  font-size: 2vmin;
  text-align: justify;
  color: var(--site-gray);
}

a {
  font-size: 2vmin;
  color: var(--site-red);
  text-decoration: none;
}

ul {
  line-height: 2em;
  font-size: 2vmin;
  list-style-position: inside;
  list-style: none;
}

strong {
  color: #fff;
}

@media screen and (max-width: 900px) {
  h1 {
    font-size: 6vmax;
    top: -200px;
  }
  h2 {
    font-size: 5vmax;
  }
  h3 {
    font-size: 3vmax;
  }
  p, a, ul {
    font-size: 2vmax;
  }
}