@font-face {
  font-family: 'Yana';
  src: url('/fonts/yana/regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Yana';
  src: url('/fonts/yana/italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Yana';
  src: url('/fonts/yana/bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: auto;
}

@font-feature-values "Yana" {
  @styleset {
    ss02: 2;
  }
}

:root {
  --site-background: rgb(10, 5, 5);
  --site-alt: rgb(100, 50, 50);
  --site-default: rgb(200, 150, 150);
  --site-light: rgb(255, 255, 255);
}

::-webkit-scrollbar {
  background-color: var(--site-background);
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: var(--site-default);
  border-radius: 15px;
}

html, body {
  width: 100%;
  background-color: var(--site-background);
  font-size: 2.5vw;
  font-family: 'Yana', serif;
  color: var(--site-default);
}

h1 {
  font-size: 6vmin;
  line-height: 1.2;
  color: var(--site-light);
}

h2 {
  font-size: 5vmin;
  line-height: 1.3;
  color: var(--site-light);
}

h3 {
  font-size: 3.5vmin;
  line-height: 1.3;
  color: var(--site-light);
}

p {
  font-size: 2.8vmin;
  text-align: justify;
  color: var(--site-default);
  line-height: 1.4;
}

a {
  font-size: 2.8vmin;
  color: var(--site-light);
  text-decoration: none;
  line-height: 1.4;
}

ul {
  font-size: 2.8vmin;
  list-style-position: outside;
  color: var(--site-default);
  list-style: none;
}

blockquote {
  font-size: 2.8vmin;
  border-left: 3px solid var(--site-alt);
  padding-left: 1.5rem;
  font-style: italic;
  color: var(--site-light);
}

img {
  max-width: 50%;
  height: auto;
  margin: 0 auto;
  display: block;
}

strong {
  color: var(--site-light);
}

@media screen and (max-width: 900px) {
  h1 {
    font-size: 7vmax;
    top: -200px;
  }
  h2 {
    font-size: 6vmax;
  }
  h3 {
    font-size: 4vmax;
  }
  p, a, ul, blockquote {
    font-size: 3vmax;
  }
}