---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Content from "../../components/Content.astro";
let allPosts = null;
try {
  allPosts = await Astro.glob('./*.md');
} catch {}
---

<BaseLayout>
  <Content title="Writings" next="contact" prev="projects">
    <ul>
      {
        allPosts ? allPosts.map(post => <li><a href={post.url}>{post.frontmatter.title}</a></li>) : ""
      }
    </ul>
  </Content> 
</BaseLayout>
