---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Content from "../../components/Content.astro";
let allPosts = null;
try {
  allPosts = await Astro.glob('./*.md');
} catch {}
const dateOptions: Intl.DateTimeFormatOptions = { year: 'numeric', month: 'long', day: 'numeric' };
---

<BaseLayout>
  <Content title="Writings" next="contact" prev="projects">
    <ul>
      {
        allPosts ? allPosts.map(post => <li>
          <a href={post.url}>{post.frontmatter.title}</a> <span id="pub-date"> - {new Date(post.frontmatter.date).toLocaleDateString('en-NL', dateOptions)}</span>
          {post.frontmatter.tags ? 
            <br class="mobile-break" />
            <span class="tags">{post.frontmatter.tags ? post.frontmatter.tags.map((tag: string) => <span class="tag">#{tag}</span>) : ""}</span>
          : ""}
        </li>) : ""
      }
    </ul>
  </Content> 
</BaseLayout>

<style>
  #pub-date {
    font-size: 2vmin;
    color: var(--site-alt);
  }
  .tag {
    font-size: 2vmin;
    color: var(--site-alt);
    margin-right: 0.3rem;
  }
  .tags {
    margin-left: 0.3rem;
  }
  .mobile-break {
    display: none;
  }

  @media screen and (max-width: 900px) {
    #pub-date {
      font-size: 2vmax;
    }
    .tag {
      font-size: 2vmax;
    }
    .tags {
      margin-left: 1.5rem;
      position: relative;
      top: -1.0em;
    }
    .mobile-break {
      display: block;
    }
  }
</style>