---
import BaseLayout from "../layouts/BaseLayout.astro"
import Content from "../components/Content.astro"
---
<BaseLayout>
  <Content title="contact" next="/">
    <ul>
      <li><a href="mailto:me@yvesyil.xyz">email</a></li>
      <li><a href="https://linkedin.com/in/d-yigit-yilmaz/">linkedin.com</a></li>
      <li><a href="https://github.com/yvesyil">github.com</a></li>
    </ul>
  </Content>
</BaseLayout>