---
import BaseLayout from "../layouts/BaseLayout.astro"
import Content from "../components/Content.astro"
---

<BaseLayout>
  <Content title="domain" next="projects">
    <p>here are the topics & tools that i know about the most;</p>
    <br>
    <ul>
      <li>web frontend, backend & microservices</li>
      <li>general purpose gpu computing</li>
      <li>deep learning & computer vision</li>
      <li>linux shell, coreutils & filesystem</li>
    </ul>
    <br><br>
    <p>topics that i would like to know more;</p>
    <ul>
      <li>compilers</li>
      <li>operating system kernels</li>
      <li>embedded systems</li>
    </ul>
  </Content>
</BaseLayout>