---
import BaseLayout from '../layouts/BaseLayout.astro';
import Content from '../components/Content.astro';

---

<BaseLayout>
	<Content next="whoami" prev="contact">
			<h1 style="text-align: center;">yves yil</h1>
			<br>
			<p>ipa: <a href="http://ipa-reader.xyz/?text=iv%20j%C9%AAl">/iv jɪl/</a> eng: [eev yil]</p>
	</Content>
</BaseLayout>

