---
import BaseLayout from '../layouts/BaseLayout.astro';
import Content from '../components/Content.astro';

---

<BaseLayout>
	<Content next="whoami">
			<h1>yves yil</h1>
			<p>ipa: <a href="http://ipa-reader.xyz/?text=iv%20j%C9%AAl">/iv jɪl/</a> eng: [eev yil]</p>
	</Content>
</BaseLayout>

