---
import BaseLayout from '../layouts/BaseLayout.astro';
import Content from '../components/Content.astro';

---

<BaseLayout>
	<Content title="Yves Yil" next="whoami" prev="contact">
		<p class="subtext">IPA: <a style="font-family: Garamond, serif;" href="http://ipa-reader.xyz/?text=iv%20j%C9%AAl">/iv jɪl/</a> Eng: [eev yil]</span>
	</Content>
</BaseLayout>

<style>
	.subtext, .subtext * {
		font-size: 2vmin;
	}


	@media screen and (max-width: 900px) {
		.subtext, .subtext * {
			font-size: 2vmax;
		}
	}
</style>