---
import BaseLayout from "../layouts/BaseLayout.astro"
import Content from "../components/Content.astro"
---

<BaseLayout>
  <Content title="projects" next="writings" prev="domain">
    <p style="color: white">
      <span id="quote">"what i cannot create, i do not understand"</span><br>
      <span style="float: right;">&#8211; richard feynman</span>
    </p><br>
    <p>
      this quote really resonates with me. because this is my approach to learn new things in life.
      if i find myself trying to understand how a system works, i start by building a small version of that in isolation.
    </p><br>
    <ul>
      <li><a href="https://github.com/tussoftwaredesign/claw-js/tree/dev">claw.js, a hardware accelerated linear algebra library for js</a></li>
      <li><a href="https://github.com/yvesyil/yvesyil.github.io">my personal website (yvesyil.xyz)</a></li>
      <li><a href="https://github.com/yvesyil/neural-net-api">a neural network from scratch</a></li>
      <li><a href="https://github.com/yvesyil/A-star-snake">self-playing snake game using A* pathfinding</a></li>
    </ul>
    <br>
    <p><a href="https://github.com/yvesyil">& more on github...</a></p>
  </Content>
</BaseLayout>