---
import BaseLayout from "../layouts/BaseLayout.astro"
import Content from "../components/Content.astro"
---

<BaseLayout>
  <Content title="Projects" next="writings" prev="whoami">
    <p style="color: var(--site-light)">
      <span id="quote">"What I cannot create, I do not understand."</span><br>
      <span style="float: right;">&#8211; Richard Feynman</span>
    </p>
    <p>This is how I approach to a new journey in life. Each project I have is a different journey. It always starts with a basic product. Many iterations on a basic product leads to a great product.</p>
    <p>Projects are listed on my <a href="https://github.com/yvesyil">Github</a>.</p>
  </Content>
</BaseLayout>