---
import BaseLayout from "../layouts/BaseLayout.astro"
import Content from "../components/Content.astro"
---

<BaseLayout>
<Content title="Whoami?" next="projects" prev="">
  <p>
    I'm a software engineer working in finance, mainly focused on building automation and web applications.
  </p>
  </Content>
</BaseLayout>