---
import BaseLayout from "../layouts/BaseLayout.astro"
import Content from "../components/Content.astro"
---

<BaseLayout>
<Content title="whoami?" next="domain">
  <h3>hi</h3>
  <br>
  <p>
    my real name is yiğit yılmaz <a href="http://ipa-reader.xyz/?text=ji%CB%88it%20j%C9%AF%C9%AB%CB%88maz&voice=Filiz">/jiˈit jɯɫˈmaz/</a>. but you can call me yves.<br><br>
    i'm a software engineer, mainly focused on web development, deep learning and systems-level software.
  </p>
  </Content>
</BaseLayout>