---
const { title, next, prev } = Astro.props;
---
<main class="content-navigation-enabled">
	<div data-next={next} data-prev={prev}>
		{title ? <h1 class="section-title">{title}</h1> : null }
		<div class="section-body"><slot /></div>
	</div>
</main>

<script>
	// Only run navigation script if this component is present
	if (document.querySelector('.content-navigation-enabled')) {
		import('../script/navigation.js');
	}
</script>

<style>
	main {
		background-color: transparent;
		width: 100%;
		height: 100%;
		position: fixed;
		display: flex;
		justify-content: flex-start;
		align-items: flex-end;
		overflow: hidden;
		padding-left: 10rem;
	}

	main > div {
		display: flex;
		align-items: left;
		justify-content: flex-start;
		flex-direction: column;
		width: 70vw;
		height: 70vh;
		position: relative;
		overflow: hidden;
	}

	.section-title {
		top: 0;
		position: relative;
		flex-shrink: 0;
		margin: 0;
	}

	.section-body {
		padding-left: 1.5rem;
		display: flex; 
		flex-direction: column; 
		justify-content: start;
		align-items: flex-start;
		position: relative;
		min-height: 400px;
		max-width: 100%;
		box-sizing: border-box;
		overflow-y: auto;
		/* Hide scrollbars while maintaining scroll functionality */
		scrollbar-width: none; /* Firefox */
		-ms-overflow-style: none; /* IE and Edge */
	}

	.section-body::-webkit-scrollbar {
		display: none; /* Chrome, Safari and Opera */
	}

	.section-body > * {
		flex-shrink: 0;
	}

	.section-body > h1 {
		margin-bottom: 1rem;
	}

	.section-body > p, 
	.section-body > ul {
		margin-bottom: 1rem;
	}

	.section-body > br {
		display: none;
	}

	@media screen and (max-width: 900px) {
    main > div {
      width: 80vw;
      height: 90vh;
    }
    
    .section-body {
      height: 75vh;
      min-height: 500px;
    }
  }

  /* Mobile Safari specific scrollbar hiding */
  @media (pointer: none), (pointer: coarse), (hover: none) {
    main, main > div, .section-body {
      scrollbar-width: none !important; /* Firefox */
      -ms-overflow-style: none !important; /* IE and Edge */
    }
    
    main::-webkit-scrollbar, 
    main > div::-webkit-scrollbar, 
    .section-body::-webkit-scrollbar {
      display: none !important; /* Chrome, Safari and Opera */
      width: 0px !important;
      height: 0px !important;
    }
    
    /* Ensure content fits within viewport on mobile */
    main > div {
      width: 90vw;
      height: 85vh;
      max-height: 85vh;
    }
    
    .section-body {
      height: 70vh;
      max-height: 70vh;
      min-height: unset;
      overflow-y: auto;
    }
  }
</style>
