---
const { title, next } = Astro.props;
---
<main>
	<div>
		{title ? <h2 class="section-title">{title}</h2> : null }
		<slot class="section-body" />
	</div>
	<a class="fill-page" href={next}></a>
</main>

<style>
	main {
		width: 100%;
		height: 100vh;
		color: white;
		position: fixed;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	main > div {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-direction: column;
		width: 800px;
		height: 300px;
	}
	.fill-page {
		top: 0;
		bottom: 0;
		position: fixed;
		display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
	}
	.section-title {
		position: relative;
		margin-bottom: 50px;
	}
	.section-body {
		display: flex; 
		flex-direction: column; 
		align-content: space-between;
	}
</style>