---
import { fade } from 'astro/virtual-modules/transitions.js';
import '../styles/global.css';
import { ViewTransitions } from 'astro:transitions';
---

<!doctype html style="overscroll-behavior-y: none;">
<html transition:animate={fade({ duration: '0.8s' })} lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="yvesyil" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <link rel="preload" href="/fonts/yana/regular.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="/fonts/yana/italic.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="/fonts/yana/bold.woff" as="font" type="font/woff" crossorigin>
		<title>yvesyil</title>
		<ViewTransitions />
	</head>
	<body>
        <div class="container">
            <slot />
        </div>
		<canvas id="fluid"></canvas>
		<script src="../script/fluid.js"></script>
	</body>
</html>

<style>
	#fluid {
		z-index: -100;
        margin: 0;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
	}

	body {
        background-color: transparent;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        overflow-y: auto;
    }

    .container {
        text-align: left;
        font-size: 1.5rem;
        padding: 4rem 2rem;
        box-sizing: border-box;
        max-width: 1500px;
        width: 100%;
        line-height: 1.6;
    }

    .container h1 {
        text-align: center;
        margin-bottom: 2rem;
    }

    .container p {
        margin-bottom: 1.5rem;
        text-align: justify;
    }

    

    .container ul, .container ol {
        margin-bottom: 1.5rem;
        padding-left: 2rem;
    }

    .container li {
        margin-bottom: 0.5rem;
        color: var(--site-default);
    }

    .container code {
        background-color: rgba(255, 255, 255, 0.1);
        padding: 0.2rem 0.4rem;
        border-radius: 3px;
        font-family: monospace;
    }

    @media screen and (max-width: 900px) {
        .container {
            padding: 2rem 1rem;
            font-size: 1.2rem;
        }
    }
</style>
